html, body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #111;
    font-family: 'Open Sans', 'Tahoma', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    margin: 100px auto;
    padding: 0 15px;
}

@media(min-width: 768px) {
    .container {
        max-width: 500px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 900px;
    }
}

.row {
    display: flex;
}